*{
  margin: 0px;
  padding: 0px;
  background-color: black;
}

header{
  background-color: darkblue;
}

header nav{
  margin: 5px;
  padding: 5px;
  background-color: darkblue;
}

div{
  background-color: darkblue;
}

div > h5{
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: darkblue;
  color: lightblue;
}

div + p{
  margin: 5px;
  padding: 5px;
  background-color: darkblue;
  font-size: 10px;
  color: lightblue;
}

a{
  background-color: darkblue;
  color: crimson;
}

.card{
  border: 2px solid lightblue;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
}

.card > h3{
  border: 2px solid lightblue;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  color: lightblue;
}

.card > h3 + img{
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  color: lightblue;
}

.card > h3 ~ p{
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  color: lightblue;
}

h1, p{
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  color: lightblue;
}