*{
  margin: 0px;
  padding: 0px;
  background-color: black;
}

header{
  background-color: darkblue;
}

header nav{
  margin: 5px;
  padding: 5px;
  background-color: darkblue;
}

.linkpage{
  background-color: darkblue;
}

main{
  margin: 5px;
  padding: 5px;
  color: lightblue;
}

#maintitle{
  font-size: 45px;
  text-align: center;
  color: lightblue;
}

.mainarticle{
  margin: 10px;
  padding: 10px;
  text-align: left;
  color: white;
}

section > fieldset{
  margin: 10px;
  padding: 10px;
  width: fit-content;
  color: red;
  border: 1px solid white;
}

a{
  color: crimson;
}

video{
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

h2 ~ ul{
  margin: 10px;
  padding: 10px;
}

audio{
  margin: 10px;
}

h2 + p{
  text-align: justify;
  color: lightgray;
}